.anime-cover {
  flex: 1;
}

.action-container {
  display: flex;
  flex-direction: row;

  justify-content: flex-end;
}

#Button {
  background-color: #3d3c3c;
  color: #dddd;
  width: 95px;
  height: 40px;
  border-radius: 12px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#Card {
  margin: 0px 35px;
  height: 300px;
  width: 300px;
  border-style: solid;
  border-radius: 12px;
  border-color: #3d3c3c;

  display: flex;
  flex-direction: column;
}
